/* Coolors Exported Palette - coolors.co/ec0b43-58355e-7ae7c7-d6ffb7-fff689 */

/* HSL */
$color1: hsla(345%, 91%, 48%, 1);
$color2: hsla(291%, 28%, 29%, 1);
$color3: hsla(162%, 69%, 69%, 1);
$color4: hsla(94%, 100%, 86%, 1);
$color5: hsla(55%, 100%, 77%, 1);

/* RGB */
$color1: rgba(236, 11, 67, 1);
$color2: rgba(88, 53, 94, 1);
$color3: rgba(122, 231, 199, 1);
$color4: rgba(214, 255, 183, 1);
$color5: rgba(255, 246, 137, 1);


/* Coolors Exported Palette - coolors.co/373a40-919e5c-d57533-d1a65c-d4b181 */
/* HSL */
$color1: hsla(220%, 8%, 23%, 1);
$color2: hsla(72%, 26%, 49%, 1);
$color3: hsla(24%, 66%, 52%, 1);
$color4: hsla(38%, 56%, 59%, 1);
$color5: hsla(35%, 49%, 67%, 1);

/* RGB */
$color1: rgba(55, 58, 64, 1);
$color2: rgba(145, 158, 92, 1);
$color3: rgba(213, 117, 51, 1);
$color4: rgba(209, 166, 92, 1);
$color5: rgba(212, 177, 129, 1);