/* Coolors Exported Palette - coolors.co/ec0b43-58355e-7ae7c7-d6ffb7-fff689 */
/* RGB */
/* Coolors Exported Palette - coolors.co/373a40-919e5c-d57533-d1a65c-d4b181 */
/* RGB */
* {
  box-sizing: border-box; }

html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0; }

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.wrapper {
  flex: 1; }

body {
  background-color: #d4b181; }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0.1em;
  background-color: #919e5c;
  font-family: 'Ultra', serif;
  font-size: 1.5em;
  letter-spacing: 0.5em; }
  header h1 {
    color: #373a40; }
  @media screen and (min-width: 564px) {
    header {
      font-size: 2.5em;
      padding: 1em; } }
  @media screen and (min-width: 740px) {
    header {
      font-size: 2.5em;
      padding: 0.5em; } }

section {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: #d57533; }

.gallowsAlphabet {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center; }
  @media screen and (min-width: 740px) {
    .gallowsAlphabet {
      flex-direction: row;
      align-items: flex-start; } }

.gallowsScene {
  position: relative;
  width: 316px;
  height: 410px; }

.gallows, .window {
  position: absolute; }

.gallows {
  top: 3%;
  left: 1%; }

.hangingBody {
  top: 20.2%;
  left: 32%; }

#body-1 {
  position: absolute;
  top: 20.1%;
  left: 44%;
  opacity: 0; }

#body-7 {
  position: absolute;
  top: 20%;
  left: 45.4%;
  opacity: 0; }

#body-2 {
  position: absolute;
  top: 30.8%;
  left: 46.6%;
  opacity: 0; }

#body-3 {
  position: absolute;
  top: 49.6%;
  left: 32%;
  opacity: 0; }

#body-4 {
  position: absolute;
  top: 49.6%;
  left: 47%;
  opacity: 0; }

#body-5 {
  position: absolute;
  top: 33%;
  left: 40%;
  opacity: 0; }

#body-6 {
  position: absolute;
  top: 33.6%;
  left: 47%;
  opacity: 0; }

.window {
  top: 0%;
  left: 0%;
  z-index: 2; }

.alphaWordbanks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .alphaWordbanks ul {
    display: flex;
    justify-content: space-around; }
    .alphaWordbanks ul li {
      margin: 0.5em; }
  .alphaWordbanks button {
    background-color: #919e5c;
    color: #373a40;
    font-family: 'Pompiere', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid #373a40; }
    .alphaWordbanks button:hover {
      background-color: #373a40;
      color: #fff689; }

.wordBanks {
  height: 2em;
  font-size: 1.5em;
  line-height: 1.5em; }
  .wordBanks h3 {
    font-family: 'Pompiere', sans-serif;
    font-weight: bold;
    color: #131313; }

.alphabet {
  border: 0.8em solid #d4b181;
  background-color: #131313;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  width: 316px;
  padding: 0.5em; }
  @media screen and (min-width: 564px) {
    .alphabet {
      border: 1em solid #d4b181; } }

.alphaBtn, .word {
  font-family: 'Cabin Sketch', sans-serif;
  color: #eae6e5;
  font-size: 1em;
  line-height: 1em; }

.alphaBtn {
  width: 1em;
  height: 1em;
  display: inline-block;
  text-align: center;
  margin: 0.1em auto; }
  @media screen and (min-width: 564px) {
    .alphaBtn {
      width: 1.5em;
      height: 1.5em;
      margin: 0.2em; } }

.wordToGuess {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  padding: 0.1em;
  height: 3.3em;
  color: #eae6e5; }
  .wordToGuess h1 {
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 1em;
    margin-bottom: 1em; }

footer {
  flex-shrink: 0;
  background-color: #131313;
  text-align: center;
  padding: 0.2em; }
  footer p {
    color: #373a40; }
  @media screen and (min-width: 564px) {
    footer {
      padding: 0.5em; } }

/*# sourceMappingURL=style.css.map */
